body {
    background-color: darkgreen;
    background-size: cover;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1em;
    min-width: 1024px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1024px) {
    main {
        min-width: 75vw;
    }
}

.button a {
    display: block;
    text-decoration: none;
    padding: 1em;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: darkred;
    color: white;
}

.button a:hover {
    background-color: white;
    color: darkgreen;
}